contourpy==1.3.2
cycler==0.12.1
dill==0.4.0
fonttools==4.57.0
kiwisolver==1.4.8
matplotlib==3.10.1
mpmath==1.3.0
numpy==2.2.5
pbr==6.1.1
pillow==11.2.1
pygame==2.6.1
pylatexenc==2.10
pyparsing==3.2.3
pyqt5==5.15.11
pyqt5-qt5==5.15.2
pyqt5-sip==12.17.0
qiskit==2.0.0
qiskit-aer==0.17.0
rustworkx==0.16.0
scipy==1.15.2
stevedore==5.4.1
symengine==0.13.0
sympy==1.14.0